footer {
  background: var(--cor-p);
  max-width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  height: 500px;
  padding: 70px 16px 0px 16px;
  position: relative;
}

.footer a {
  color: var(--cor-0);
  position: relative;
}

.footer a:hover::after {
  content: '';
  background: var(--cor-0);
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  right: 0;
}

.footer ul li,
.footer-logo {
  margin-bottom: 12px;
}

.footer-logo-text {
  max-width: 250px;
}

.footer-copy {
  position: absolute;
  bottom: 70px;
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 50% 25% 25%;
  }
}

@media (max-width: 720px) {
  .footer {
    height: auto;
    grid-template-columns: 1fr;
    padding-bottom: 102px;
  }

  .footer-copy {
    bottom: 32px;
  }

  .footer h2 {
    margin-top: 20px;
  }
  
}